SITES = [{'name': 'PTH',
          'username': 'root',
          'password': 'hunter2',
          'baseurl': 'https://passtheheadphones.me'},
         {'name': 'apollo',
          'username': 'root',
          'password': 'hunter2',
          'baseurl': 'https://apollo.rip'}]

COUCHURI = 'http://127.0.0.1:5984'

SEEDBOXES = [{'name': 'example',
              'host': 'example.com',
              'username': 'admin',
              'password': 'hunter2',
              'port': 9091}]

SERVER = {'url': 'https://distleech.example.com',
          'username': 'admin',
          'password': 'hunter2' }

DB = {'host': '127.0.0.1',
      'username': 'distleech',
      'password': 'hunter2',
      'db': 'distleech'}

SEARCH_DIRS = ['/tank/torrents/distleech']
